<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📙</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.1.1/styles/overlayscrollbars.min.css" integrity="sha512-dyvcp7hPOn3zmOUyTVZ2UerMytIKgjyyI6ofyX6G9fPv9ZUEtMoOzW+yjwXYAZXJE3X+XfZ7ccf2FGGyGSTjiA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/config.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.1.1/browser/overlayscrollbars.browser.es6.min.js" integrity="sha512-iURYOChSOi+atVWndKNjW16H4+qDrVFRJMnS10b9cxbtHZMonlAbic54vf3Y9r8R1t7zd2L/9zmBOFfHjZk1SQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>TEXTBOOK</title>
</head>
<body>
 {{ content }}
</body>
<script src='/assets/js/base.js'></script>
</html>
